body {
  font-family: "Noto Nastaliq Urdu", "Arial", sans-serif;
  background: #fafafa;
}

input,
button {
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

table th,
table td {
  padding: 10px;
}

@media (max-width: 550px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 18px;
  }

  table {
    font-size: 12px;
  }

  input,
  button {
    font-size: 12px;
    padding: 6px;
  }
}

@media (max-width: 400px) {

  table {
    font-size: 8px;
  }


  button {
    font-size: 10px;
    padding: 3px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form input {
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

form button {
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
}

@media (max-width: 550px) {
  form input,
  form button {
    width: 95%;
    font-size: 14px;
  }
  input[type="text"] {
    width: 100% !important;
    margin-top: 10px;
  }
}
